

.†{
    color: #0055FF;
}

.§{
    color: #FFD700;
}

.¿{
    color: #00C800;
}

.¶{
    color: #E0E0E0;
}

.cop_interview{
    font-size: 4vh;
    padding: 3vh;
    background: #1A1A1A;
    width: 50%;

    flex-shrink: 0;
}

.cop_interview_answer{
    text-align: left;
    width: 100%;

    display: flex;         /* Align children horizontally */
  align-items: center;   /* Center text vertically relative to the button */
  gap: 2vw;
}

#cop_interview_context{
    text-align: center;
    margin-top: 3vh;
    font-size: 3vh;
}

.cop_interview_question{
    font-size: 3vh;
    color: white;
    margin-bottom: 3vh;
}
#cop_interview_score{
    font-size: 5vh;
    text-align: center;
}

.cop_score{

    margin: 1vh;
}

.cop_warning{
    font-weight: bold;
    color: white;

}


.crime_reported{
    color: white;
    font-weight: bold;
}
#detained{
    text-align: center;
    width: 100%;
    
}
.detained, #start_sentence, #go_to_the_yard{
    width: 100%;
    font-size: 4vh;
    margin-top: 5vh;
}