

.jail_cell {
    color: white;
    width: 6vw;
    max-width: 33px;
    height: 6vw;
    max-height: 33px;
    text-align: center;
    float:left;

}

.jail_empty {
    background-color: grey;
}
.jail_enemy {
    background: red;

}

#jail_map{
    display: inline-block; /* Crucial: Makes the div only as wide as the rows */
    margin: 0 auto;
   
}

#jail_map_container{
    width: 100%;
}

.jail_player{
    background: green;
}

.jail_wall {
    background-color: black;
}

.jail_guard{
    background-color: blue;
}

.jail_guard_sees{
    background: #6b6bf7;
}