
body{ 
    background: #111111;
    color: grey;
}

.†{
    color: #0055FF;
}

.§{
    color: #FFD700;
}

.¿{
    color: #00C800;
}

.¶{
    color: #E0E0E0;
}
#bottom {
    width: 100%;
    text-align: center;
    clear: both;
    position: fixed;
    left: 0;
    right: 0;
    /* This sets the distance from the bottom edge of the screen */
    bottom: 75px; 
}
:root{
    --top-bar-height: 28px;
    --status-bar-height: 24px;
}

body:has(#loot:not(.hidden)){
    overflow: hidden;
}

.cop_interview{
    font-size: 30px;
    padding: 25px;
    background: #1A1A1A;
    width: 200px;

    flex-shrink: 0;
}

.cop_interview_answer{
    text-align: left;
    width: 100%;

    display: flex;         /* Align children horizontally */
  align-items: center;   /* Center text vertically relative to the button */
  gap: 10px;
}

#cop_interview_context{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}

.cop_interview_question{
    font-size: 35px;
    color: white;
    margin-bottom: 25px;
}
#cop_interview_score{
    font-size: 40px;
    text-align: center;
}

.cop_score{

    margin: 10px;
}

.cop_warning{
    font-weight: bold;
    color: white;

}


.crime_reported{
    color: white;
    font-weight: bold;
}
#detained{
    text-align: center;
}
.detained{
    padding: 10px;
    font-size: 25px;
    margin-top: 25px;
}

.favorite_entry{
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
}
.favorite_context{
    
    margin-left: 50px;
}
.heading{
    font-weight: bold;
    color: black;
}
.hidden{
    display: none;
}

.interact, .sell_to_shop, .sell_all_to_human, .sell_unique_to_human{
    font-size: 25px;
    padding: 10px;
}

.screen.hidden{
    display: none !important;
}



html, body{
    height: 100%;
    margin: 0;
}

.interaction_caption{
    font-size: 30px;
    margin-top: 15px;
    color: hsl(0, 0%, 100%);
}






#money, #social_context, #social_menu{
    text-align: center;
}

#shop{
    text-align: center;
}



#location_name {
    text-align: center;
}



.screen{
    width: 100%;
    clear: both;
}



#top {
    width: 100%;
    text-align: center;
    height: auto;
    line-height: var(--top-bar-height);
    color: white;
}


