.alley_exit {
    color: hwb(211 42% 46%);
}
.cell {
    width: 20px;
    height: 20px;
    text-align: center;
    float:left;

}
.cell:not(.empty):not(.player){
    background: #222222;
    border: 1px #222222 solid;
}
.cell.empty{
    background: #111111;
    border: 1px #111111 solid;
}

.citizen {
    color: #a5d6a7;
}

.crate {
    color: #D4A017;
}
.row{
    clear:both;
}


.filled {
    
    
    
}

.homeless{
    color: #5c8ca3;
}


.player{
    border: 1px #66ccff solid;
    background: #222222;
    color: #66ccff;
}

.player_fighting{
    color: red;
    background: #222222;
    border: 1px red solid;
}

.rat{
    color: #8b5a2b;
}

.rat.hungry{
    color: red;
}

.sewer_exit {
    color: #b04a4a;
    
}

.street_exit{
    color: #4caf50;
}

.trash{
    color: #8b5a2b;
}