.alley_exit {
    color: hwb(211 42% 46%);
}

.blocked {
    border: 1px #222222 solid;
    background: #333333;
}

.cell {
    width: 20px;
    height: 20px;
    text-align: center;
    float:left;

}
.cell:not(.empty):not(.player):not(.blocked):not(.shop):not(.player_fighting):not(.looking_at){
    background: #222222;
    border: 1px #222222 solid;
}
.cell.empty{
    background: #111111;
    border: 1px #111111 solid;
}

.citizen {
    color: #00ff41;
}

.crate {
    color: #D4A017;
}
.row{
    clear:both;
}


.filled {
    
    
    
}
.looking_at{
    background: #222222;
    border: 1px grey solid;
}

.homeless{
    color: #5c8ca3;
}


.player{
    border: 1px #66ccff solid;
    background: #222222;
    color: #66ccff;
}

.player_fighting{
    color: red;
    background: #222222;
    border: 1px red solid;
}

.rat{
    color: #8b5a2b;
}

.rat.hungry{
    color: red;
}

.sewer_exit {
    color: #b04a4a;
    
}

.shop{
    background: #33ff00;
    color: black;
}

.street_exit{
    color: #4caf50;
}

.trash{
    color: #8b5a2b;
}