#health_bar{
    background: red;
}

.low_stamina{
    color: red;
}

#sickness_container, #status_bars{
    width: 100%;
    clear:both;
}

#stamina_bar{
    background: green;
}


.status_bar_container{
  height: 3.5vh;
    width: 25%;
    float: left;
    background: grey;
    border: 1px black solid;
    position: relative;
    
    /* Add these three lines */
    display: flex;
    align-items: center;     /* Centers vertically */
    justify-content: center; /* Centers horizontally */

}

.status_bar{
    height: 3.5vh;
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;
    padding: 0px;

}


#status_bar_buffer{
    width: 12%;
    position: relative;
    float: left;
}



#status {
    text-align: center;
    height: var(--status-bar-height);
    line-height: var(--status-bar-height);
    color: white;
}

.status_caption {
    z-index: 2;
    font-size: 1.5vh;
    width: 100%;
    pointer-events: none;
}
@media (min-width: 700px) {
  .status_caption {
    font-size: 3vh; /* Desktop size */
  }
}


#stigma_bar{
    background: yellow;
    color: black;
}

#stigma_container{
    color: black;
}

